<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="accountForm" *ngIf="(hasRole(UserRoles.COMPANY_ADMIN) || hasRole(UserRoles.COMPANY_EMPLOYEE)) && (user$ | async) as user" (ngSubmit)="onSubmit()">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Profile</div>
            <div class="text-secondary">Following information is publicly displayed, be careful!</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'name'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Company -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Company</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:building-office-2'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'company'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Company email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'companyEmail'"
                        matInput>
                </mat-form-field>
            </div>
            <!--<div class="sm:col-span-2">
                <mat-label>Company logo</mat-label>
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                <span class="file-name">{{selectedFile?.name}}</span>

            </div>-->
            <!-- Title -->

            <!-- About -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>About</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'description'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Brief description for your company. Basic HTML and Emoji are allowed.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Personal Information</div>
            <div class="text-secondary">Communication details in case we want to connect with you. These will be kept private.</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Phone</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Country -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Language -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Language</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'language'">
                        <mat-option [value]="'english'">English</mat-option>
                        <mat-option [value]="'french'">French</mat-option>
                        <mat-option [value]="'spanish'">Spanish</mat-option>
                        <mat-option [value]="'german'">German</mat-option>
                        <mat-option [value]="'italian'">Italian</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Matrimonial status</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'matrimonial'">
                        <mat-option [value]="'Single'">Single</mat-option>
                        <mat-option [value]="'Married'">Married</mat-option>
                        <mat-option [value]="'Others'">Others</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Education level</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'educationLavel'">
                        <mat-option *ngFor="let level of schoolLevel" [value]="level">{{level}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="submit"
                [color]="'primary'">Save
            </button>
        </div>
    </form>
    <form [formGroup]="accountForm" *ngIf="(hasRole(UserRoles.INSTITUTION_ADMIN)) && (user$ | async) as user" (ngSubmit)="onSubmit()">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Profile</div>
            <div class="text-secondary">Following information is publicly displayed, be careful!</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <div class="sm:col-span-2">
                <!-- logo -->
                <div class="flex items-center mb-4">
                    <div class="mr-3 rounded bg-gray-200 p-2">
                        <!-- Espace pour afficher l'image -->
                        <img [src]="imageSrc" alt="Uploaded Image" id="uploadedImage" class="img-fluid">
                    </div>
                    <div class="flex flex-col items-center">
                        <h6 class="mb-1">Logo</h6>
                        <button mat-raised-button color="primary" type="button" (click)="fileInputLogo.click()">Upload</button>
                        <input type="file" #fileInputLogo style="display: none;" (change)="onFileSelected($event)" accept="image/*">
                        <mat-error *ngIf="accountForm.get('logo').touched && accountForm.get('logo').errors">Logo required</mat-error>
                    </div>
                </div>
            </div>

            <div class="sm:col-span-2">
                <div class="flex items-center mb-4">
                    <div class="mr-3 rounded bg-gray-200 p-2">
                        <!-- Espace pour afficher l'image -->
                        <img [src]="signatureSrc" alt="Uploaded Signature" id="signature" class="img-fluid">
                    </div>
                    <div class="flex flex-col items-center">
                        <h6 class="mb-1">Signature of company representative</h6>
                        <button mat-raised-button color="primary" type="button" (click)="fileInputSign.click()">Upload</button>
                        <input type="file" #fileInputSign style="display:none;" (change)="onFileSelectedToSignature($event)" >
                        <span class="text-red-500 text-xs italic" *ngIf="accountForm.get('signature').touched && accountForm.get('signature').errors">Signature required</span>
                    </div>
                </div>
            </div>






            <!-- Company -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Institution name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:building-office-2'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'company'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Institution email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'companyEmail'"
                        matInput>
                </mat-form-field>
            </div>
            <!--<div class="sm:col-span-2">
                <mat-label>Company logo</mat-label>
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                <span class="file-name">{{selectedFile?.name}}</span>

            </div>-->
            <!-- Title -->

            <!-- About -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>About</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'description'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Brief description for your company. Basic HTML and Emoji are allowed.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Personal Information</div>
            <div class="text-secondary">Communication details in case we want to connect with you. These will be kept private.</div>
        </div>

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'name'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <!-- Country -->
            <!-- Language -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Language</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'language'">
                        <mat-option [value]="'english'">English</mat-option>
                        <mat-option [value]="'french'">French</mat-option>
                        <mat-option [value]="'spanish'">Spanish</mat-option>
                        <mat-option [value]="'german'">German</mat-option>
                        <mat-option [value]="'italian'">Italian</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="submit"
                [color]="'primary'">Save
            </button>
        </div>
    </form>
</div>
