<div class="survey-table-container">
    <form [formGroup]="horizontalStepperForm">
        <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="currentStepperIndex$ | async">
            <mat-step formGroupName="initialStep" [stepControl]="horizontalStepperForm.get('initialStep')">
                <ng-template matStepLabel>Importance</ng-template>
                <table mat-table [dataSource]="getInitialQuestions()" class="mat-elevation-z8">
                    <ng-container matColumnDef="question">
                        <th mat-header-cell *matHeaderCellDef> Questions </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.label }}
                        </td>
                    </ng-container>
                    <ng-container *ngFor="let option of optionsImportant" [matColumnDef]="option.label">
                        <th mat-header-cell *matHeaderCellDef> {{ option.label }} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-radio-group name="{{ element.label }}" [formControlName]="element._id">
                                <mat-radio-button color="primary" [value]="option._id"></mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="check">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <!-- Placeholder for icon -->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedInitialColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedInitialColumns;"></tr>
                </table>
                <div class="flex justify-end mt-8">
                    <button mat-flat-button color="primary" (click)="nextStep(stepper.selectedIndex)" [disabled]="!horizontalStepperForm.get('initialStep').valid">
                        Next
                    </button>
                </div>
            </mat-step>

            <mat-step *ngFor="let variable of variable.children; let i = index" [formGroupName]="'step' + (i + 1)" [stepControl]="horizontalStepperForm.get('step' + (i + 1))">
                <ng-template matStepLabel>{{ variable.name }}</ng-template>
                <table mat-table [dataSource]="getQuestions(i)" class="mat-elevation-z8">
                    <ng-container matColumnDef="question">
                        <th mat-header-cell *matHeaderCellDef> Questions </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.label }}
                        </td>
                    </ng-container>
                    <ng-container *ngFor="let option of optionsNotImportant" [matColumnDef]="option.label">
                        <th mat-header-cell *matHeaderCellDef> {{ option.label }} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-radio-group name="{{ element.label }}" [formControlName]="element._id">
                                <mat-radio-button color="primary" [value]="option._id"></mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="check">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <!-- Placeholder for icon -->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div class="flex justify-end mt-8">
                    <button mat-flat-button color="primary" (click)="nextStep(stepper.selectedIndex)" [disabled]="!horizontalStepperForm.get('step' + (i + 1)).valid">
                        Next
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Submit</ng-template>
                <div class="text-3xl font-bold text-blue-700 text-center mt-5">
                    Congratulations on finishing {{ variable.variable.name }} !!! 😎😎😎
                </div>
                <div class="mt-5 flex justify-center">
                    <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
                </div>
                <div class="floating-spinner" *ngIf="isLoading">
                    <mat-spinner></mat-spinner>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>

<!--   <form [formGroup]="form" (ngSubmit)="submitForm()">

    </form>-->
    <!--<form [formGroup]="form" (ngSubmit)="submitForm()">
        <table>
            <thead>
            <tr>
                <th *ngFor="let option of optionsImportant">{{ option.label }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of questions.controls; let i = index" [formGroup]="question">
                <td>{{ question.value.label }}</td>
                <td *ngFor="let option of optionsImportant">

                    <mat-radio-group name="{{ question }}">
                        <mat-radio-button
                            [value]="option._id"
                            formControlName="response">
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>-->
