<div class="container w-full">
    <div class="bg-purple-700 fixed w-full z-10">
        <nav class="bg-white border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="assets/images/logo/logo-bg-white.jpg" class="h-16" alt="Logo Xkorin" />
                </a>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
                        </li>
                        <button class="border bg-purple-700 border-white text-white px-4 py-2 rounded -mt-3">Sign In</button>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="mt-16 w-full row" id="main">
        <section class=" py-16 bg-white bg-section">
            <div class="flex flex-1 flex-col md:flex-row custom">
                <!-- Sidebar -->
                <div class="w-full md:w-1/2  p-12 ">
                    <p class="text-7xl font-bold">Strengthen Your <br>Financial Bargaining <br>Power</p>

                    <p class="mt-4 text-lg">Click <a href="#" class="text-blue-500 underline">here</a> to get your inclusive Confidence Index,</p>
                    <button class="mt-8 bg-purple-700 text-white px-6 py-3 rounded">START</button>
                </div>
                <div class="w-full md:w-1/2 text-center ">
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-8 rounded-lg">
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/972a48f46011314ee6896ff2bb853376-removebg-preview1.png" alt="Logo 1" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/AFD_GROUPE_2_Logo_2021-1680.jpg" alt="Logo 2" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-AFRIEXIM.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/images.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-AFRLIAND.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-BAD.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>

                    </div>
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-8 rounded-lg -mt-8">
                        <div class="flex justify-center items-center p-4">

                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-ATIJARIWAFA.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-BC-PME.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-BDEAC.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-BGFI.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-CBC.png" alt="Logo 3" class="max-h-16">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-8 rounded-lg -mt-8">
                        <div class="flex justify-center items-center p-4">

                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-ECOBANK.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-AFRIEXIM.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/AFD_GROUPE_2_Logo_2021-1680.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/972a48f46011314ee6896ff2bb853376-removebg-preview1.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-CCA.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-8 rounded-lg -mt-8">
                        <div class="flex justify-center items-center p-4">

                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-IFC.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-NFC.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-ORABANK.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-ITFC.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-PROPARCO.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-8 rounded-lg -mt-8">
                        <div class="flex justify-center items-center p-4">

                        </div>
                        <div class="flex justify-center items-center p-4 ">

                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-SENEGAL.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-SGBC.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-UBA.png" alt="Logo 3" class="max-h-16">
                        </div>
                        <div class="flex justify-center items-center p-4 bg-white shadow-md">
                            <img src="assets/images/logosif/LOGO-UBC.jpeg.jpg" alt="Logo 3" class="max-h-16">
                        </div>
                    </div>

                </div>
            </div>

        </section>



        <section class="text-center py-16 bg-white -mt-1">

            <h2 class="text-3xl">Online Learning Entrepreneurship</h2>
            <h2 class="text-3xl font-bold">Offers 4 Types of Membership Packages</h2>
            <div class="relative">
                <div class="flex justify-center items-center mt-5">
                    <div class="relative bg-white rounded-lg shadow-lg overflow-hidden max-w-4xl flex">
                        <div class="w-1/3 relative">
                            <img src="assets/images/persons/p1.png" alt="Person Image" class="w-full h-full object-cover">
                            <div class="personal-margin absolute top-1/2 transform -translate-y-1/2 left-1/2 transform -translate-x-1/2 w-32 h-32 rounded-full flex items-center justify-center">
                                <img src="assets/images/persons/pack-middle.png" alt="Badge" class="w-32 h-32">
                            </div>
                        </div>
                        <div class="w-2/3 p-8 flex flex-col justify-center text-left offer" >

                            <h3 class="text-lg text-purple-700 font-bold ">$750 $450 / 2 Year(s)</h3>
                            <h2 class="text-2xl font-bold mt-2">Silver <br> Membership</h2>
                            <p class="mt-4 text-gray-700">He nicked it I don't want no agro what a load of rubbish, <br> bleeding skive off tickety-boo hunky dory chancer.</p>
                            <button class="mt-6 bg-blue-600 text-white px-4 py-2 rounded w-auto self-start">Apply Now</button>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center mt-5">
                    <div class="relative bg-white rounded-lg shadow-lg overflow-hidden max-w-4xl flex">
                        <div class="w-1/3 relative">
                            <img src="assets/images/persons/p3.png" alt="Person Image" class="w-full h-full object-cover">
                            <div class="personal-margin absolute top-1/2 transform -translate-y-1/2 left-1/2 transform -translate-x-1/2 w-32 h-32 rounded-full flex items-center justify-center">
                                <img src="assets/images/persons/pack-middle.png" alt="Badge" class="w-32 h-32">
                            </div>
                        </div>
                        <div class="w-2/3 p-8 flex flex-col justify-center text-left offer" >

                            <h3 class="text-lg text-purple-700 font-bold ">$750 $450 / 2 Year(s)</h3>
                            <h2 class="text-2xl font-bold mt-2">Silver <br> Membership</h2>
                            <p class="mt-4 text-gray-700">He nicked it I don't want no agro what a load of rubbish, <br> bleeding skive off tickety-boo hunky dory chancer.</p>
                            <button class="mt-6 bg-blue-600 text-white px-4 py-2 rounded w-auto self-start">Apply Now</button>
                        </div>
                    </div>
                </div>
                <div class="absolute top-1/2 transform -translate-y-1/2 w-full flex justify-center items-center">
                    <div class="relative bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-4xl flex">
                        <div class="w-1/3 relative">
                            <img src="assets/images/persons/p2.png" alt="Person Image" class="w-full h-full object-cover">
                            <div class="personal-margin absolute top-1/2 transform -translate-y-1/2 left-1/2 transform -translate-x-1/2 w-32 h-32 rounded-full flex items-center justify-center">
                                <img src="assets/images/persons/pack-middle.png" alt="Badge" class="w-32 h-32">
                            </div>
                        </div>


                        <div class="w-2/3 p-8 flex flex-col justify-center text-left offer" >

                            <h3 class="text-lg text-purple-700 font-bold ">$750 $450 / 2 Year(s)</h3>
                            <h2 class="text-2xl font-bold mt-2">Silver <br> Membership</h2>
                            <p class="mt-4 text-gray-700">He nicked it I don't want no agro what a load of rubbish, <br> bleeding skive off tickety-boo hunky dory chancer.</p>
                            <button class="mt-6 bg-blue-600 text-white px-4 py-2 rounded w-auto self-start">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="text-center py-16 bg-gray-100">
            <h2 class="text-3xl font-bold">You can be your own Guiding star with our help!</h2>
            <button class="mt-8 bg-purple-700 text-white px-6 py-3 rounded">Get Started Now</button>
        </section>
    </div>

    <div id="footer" class="bg-white w-full dark:bg-gray-900 mt-8">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="#" class="flex items-center">
                        <img src="assets/images/logo/logo-bg-white.jpg" class="h-16 me-3" alt="Logo Xkorin" />
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="https://flowbite.com/" class="hover:underline">Flowbite</a>
                            </li>
                            <li>
                                <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">Xkorin™</a>. All Rights Reserved.
          </span>
                <div class="flex mt-4 space-x-5 sm:justify-center sm:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                            <path fill-rule="evenodd" d="M5.891 18.667v-8.423H8.53l.4-3.16H5.89V5.24c0-.915.254-1.538 1.563-1.538h1.669V1.055C8.486.73 7.465.5 6.371.5 4.083.5 2.607 1.816 2.607 4.024v3.06H0v3.16h2.607v8.423h3.284Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                            <path d="M19.83 4.31a8.91 8.91 0 0 1-.86.42c-.26.11-.53.2-.81.26a4.53 4.53 0 0 0 .71-.76c.18-.22.33-.47.45-.73a9.13 9.13 0 0 1-1.16.56c-.21.09-.42.17-.65.22a4.52 4.52 0 0 0-.92-.98 4.35 4.35 0 0 0-1.2-.64 4.31 4.31 0 0 0-1.38-.22c-.74 0-1.43.18-2.04.52-.61.34-1.12.83-1.48 1.43-.36.6-.55 1.29-.55 2.01 0 .28.03.56.1.84-1.51-.08-2.9-.46-4.16-1.14a8.47 8.47 0 0 1-3.23-3.08 2.3 2.3 0 0 0-.3 1.14c0 .78.4 1.48 1 1.89-.34 0-.67-.1-.98-.26v.03c0 1.08.77 1.98 1.79 2.19a4.3 4.3 0 0 1-2.01.07c.57 1.76 2.22 3.04 4.18 3.08a8.64 8.64 0 0 1-5.32 1.84c-.34 0-.67-.02-1-.06A12.2 12.2 0 0 0 6.8 16c8.01 0 12.39-6.63 12.39-12.38 0-.19 0-.37-.01-.56a8.85 8.85 0 0 0 2.17-2.26l-.02-.01Z"/>
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M10 .222a9.78 9.78 0 0 0-3.094 19.066c.49.091.668-.213.668-.474 0-.234-.01-.858-.013-1.683-2.714.585-3.287-1.306-3.287-1.306-.445-1.133-1.086-1.435-1.086-1.435-.888-.606.067-.594.067-.594.982.068 1.498 1.004 1.498 1.004.873 1.497 2.288 1.064 2.846.814.089-.633.342-1.064.623-1.31-2.168-.246-4.444-1.083-4.444-4.82 0-1.064.38-1.935 1.004-2.617-.1-.247-.436-1.237.097-2.58 0 0 .82-.263 2.688 1.001A9.383 9.383 0 0 1 10 5.877c.83.004 1.666.112 2.448.328 1.866-1.264 2.685-1.001 2.685-1.001.536 1.343.198 2.333.098 2.58.626.682 1.002 1.553 1.002 2.617 0 3.747-2.281 4.571-4.454 4.812.351.303.664.903.664 1.82 0 1.313-.012 2.374-.012 2.696 0 .263.177.57.674.473A9.78 9.78 0 0 0 10 .222Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="sr-only">GitHub account</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M6.94 0h6.12C17.14 0 20 2.814 20 6.28v7.44c0 3.467-2.86 6.28-6.94 6.28H6.94C2.86 20 0 17.186 0 13.72V6.28C0 2.814 2.86 0 6.94 0Zm1.738 15.5v-8L14 10l-5.322 3.5Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="sr-only">Dribbble account</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
