header {
    width: 100%;
    height: 4rem;
}

#footer {
    width: 100%;
    margin-top: 22rem;;
}

#main {
    width: 100% !important;
}

#mobile-menu {
    width: 100%;
}

.bg-section {
    background-image: url("../../../../assets/icons/section1.png");
}

.custom {
   height: 51.6rem;
}

.personal-margin {
    margin-left: 9rem;
}

.offer {
    margin-left: 7%;
}
