<div class="min-h-screen flex flex-col">
    <!-- Menu Section -->
    <div class="bg-white p-6 border-b flex flex-col md:flex-row justify-between items-center">
        <div class="flex items-center mb-4 md:mb-0">
            <img src="assets/images/logo/logo-bg-white.jpg" alt="Xkorin Logo" class="h-16 w-16 mr-2">
            <!--<div class="text-3xl font-bold text-blue-700">Vulnerability Imprint</div>-->
        </div>
        <div class="flex items-center space-x-3" *ngIf="(user$ | async) as user">
            <mat-icon svgIcon="heroicons_outline:bell-alert"></mat-icon>
            <mat-icon svgIcon="heroicons_outline:language"></mat-icon>
            <span class="text-sm" >{{user.name}}</span>
            <img src="{{user.avatar || 'assets/images/avatars/brian-hughes.jpg'}}" alt="Profile Picture" class="w-8 h-8 rounded-full">
        </div>
    </div>

    <!-- Main Content Section -->
    <div class="flex flex-1 flex-col md:flex-row">
        <!-- Sidebar -->
        <div class="w-full md:w-1/4 bg-white p-6 border-r">
            <div class="text-xl font-semibold mb-1">Inclusive Confidence Index</div>
            <div class="text-base mb-4">Welcome to your "MORE INFORMATION" area</div>
            <nav>
                <ul>
                    <li class="mb-1">
                        <a class="block py-2 px-4 rounded bg-blue-500 text-white">Assessment information</a>
                    </li>
                    <li>
                        <a class="block py-2 px-4 rounded bg-gray-200">........</a>
                    </li>
                </ul>
            </nav>
           <!-- <div class="mt-12" *ngIf="(user$ | async) as user">
                <div class="flex items-center">
                    <img src="{{user.avatar || 'assets/images/avatars/brian-hughes.jpg'}}" class="w-12 h-12 rounded-full mr-3">
                    <div>
                        <span class="text-sm" >{{user.name}}</span>
                        <div class="text-sm text-gray-600" >{{user.email}}</div>
                    </div>
                </div>
            </div>-->
        </div>

        <!-- Main content -->
        <div class="w-full md:w-3/4 bg-white p-6">
            <div class="flex items-center mb-4">
                <mat-icon svgIcon="heroicons_outline:finger-print"></mat-icon>
                <h2 class="text-xl font-bold">Assessment informations</h2>
            </div>
            <div class="flex flex-1 flex-col md:flex-row">
                <div class="w-full md:w-1/4"></div>
                <div class="w-full md:w-1/2 mt-2">
                    <fuse-alert
                        class="mt-8 -mb-4"
                        *ngIf="showAlert"
                        [appearance]="'outline'"
                        [showIcon]="false"
                        [type]="alert.type"
                        [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>
                    <div class="flex justify-center items-center h-screen" *ngIf="submit">
                        <mat-spinner></mat-spinner>
                    </div>
                    <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
                        <!-- Subcategory field -->
                        <mat-form-field class="w-full">
                            <mat-label>Aim of the assessment</mat-label>
                            <mat-select [formControlName]="'aim'">
                                <mat-option value="Financing">Financing</mat-option>
                                <mat-option value="Grant">Grant</mat-option>
                                <mat-option value="Support">Support</mat-option>
                            </mat-select>
                            <mat-error *ngIf="examForm.get('aim').hasError('required')">
                                Aim is required
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field class="w-full" *ngIf="(institutions$ | async) as institutions">
                            <mat-label>Institution</mat-label>
                            <mat-select [formControlName]="'institution'">
                                <mat-option *ngFor="let institution of institutions" value="{{institution._id}}">{{institution.name}}</mat-option>

                            </mat-select>
                            <mat-error *ngIf="examForm.get('institution').hasError('required')">
                                Institution is required
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Amount</mat-label>
                            <input
                                id="company-confirm"
                                matInput
                                type="number" [formControlName]="'amount'">
                            <mat-error *ngIf="examForm.get('amount').hasError('required')">
                                Amount is required
                            </mat-error>
                        </mat-form-field>
                        <!--<div class="mb-4">
                            <textarea class="w-full p-2 h-32 border rounded" placeholder="Type your comment ..."></textarea>
                        </div>-->
                        <div>
                            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Next</button>
                        </div>
                    </form>
                </div>
                <div class="w-full md:w-1/4"></div>
            </div>

        </div>
    </div>
</div>
