<div class="survey-table-container">
    <div class=" mt-5 flex justify-end">
        <button mat-raised-button color="primary" (click)="submitForm()" >Submit</button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            &lt;!&ndash; Question Column &ndash;&gt;
            <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef> Questions </th>
                <td mat-cell *matCellDef="let element; let i = index" >
                    {{element.question}}

                </td>
            </ng-container>

            &lt;!&ndash; Dynamic Option Columns &ndash;&gt;
            <ng-container *ngFor="let option of optionsNotImportant" [matColumnDef]="option.label" >
                <th mat-header-cell *matHeaderCellDef> {{option.label}} </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-radio-group name="{{ element.question }}" [formControlName]="element._id">
                        <mat-radio-button
                            [value]="option._id"
                            (change)="element.response = option._id"
                            [checked]="element.response === option._id"

                        >
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </ng-container>

            &lt;!&ndash; Check Column &ndash;&gt;
            <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-icon svgIcon="heroicons_outline:check"></mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>
    <!--<form [formGroup]="form" (ngSubmit)="submitForm()">
        <table>
            <thead>
            <tr>
                <th *ngFor="let option of optionsImportant">{{ option.label }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of questions.controls; let i = index" [formGroup]="question">
                <td>{{ question.value.label }}</td>
                <td *ngFor="let option of optionsImportant">

                    <mat-radio-group name="{{ question }}">
                        <mat-radio-button
                            [value]="option._id"
                            formControlName="response">
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>-->

</div>
