<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Programs</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search programs'">
            </mat-form-field>
            <!-- Add suggestion button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="openDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Suggestion list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(programs$ | async) as programs">
                <ng-container *ngIf="programs.length > 0; else noPrograms">
                    <div class="grid">

                        <!-- Header -->
                        <div class="program-grid z-10 sticky top-0 grid gap-5 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                             matSort
                             matSortDisableClear>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'code'">
                                Code
                            </div>
                            <div [mat-sort-header]="'name'" class="hidden sm:block">
                                Title
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'targetInstitution'">
                                Target institution
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'status'">
                                Status
                            </div>
                            <div class="hidden sm:block">
                                Details
                            </div>
                        </div>

                        <!-- Rows -->
                        <ng-container *ngIf="(programs$ | async) as programs">
                            <ng-container *ngFor="let program of programs; trackBy: trackByFn">
                                <div class="program-grid grid items-center gap-5 py-3 px-6 md:px-8 border-b">
                                    <!-- ID -->
                                    <div class="hidden md:block w-10">
                                        {{program.code}}
                                    </div>

                                    <!-- Title -->
                                    <div class="hidden md:block truncate">
                                        {{program.name}}
                                    </div>

                                    <!-- Description -->
                                    <div class="hidden md:block truncate">
                                        {{program.targetInstitution.name}}
                                    </div>


                                    <!-- Status -->
                                    <div class="hidden md:block truncate">

                                        <ng-container *ngIf="program.archived">
                                            Archived
                                        </ng-container>

                                        <ng-container *ngIf="!program.archived">
                                            Not archived
                                        </ng-container>


                                    </div>

                                    <!-- Details Button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(program._id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedProgram?._id === program._id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                            </mat-icon>
                                        </button>

                                        <a
                                            [routerLink]="[program._id]"
                                            class="min-w-10 min-h-7 h-7 mx-2 px-2 leading-6"
                                            mat-stroked-button>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:eye'">
                                            </mat-icon>
                                        </a>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedProgram?._id === program._id">
                                        <ng-container *ngTemplateOutlet="detailsTemplate; context: {$implicit: program}"></ng-container>
                                    </ng-container>
                                </div>

                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>

                <mat-paginator
                    class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="pagination.totalDocs"
                    [pageIndex]="pagination.page"
                    [pageSize]="pagination.limit"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </ng-container>

            <ng-template
                #detailsTemplate
                let-program>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected suggestion form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="selectedProgramForm">

                            <div class="flex flex-col flex-auto flex-wrap sm:flex-row p-8">

                                <!-- Title, ID & etc. -->
                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                    <!-- ID -->
                                    <mat-form-field class="w-full">
                                        <mat-label>ID</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'_id'"
                                            readonly>
                                    </mat-form-field>

                                    <!-- Description -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Name</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'name'">
                                    </mat-form-field>

                                </div>

                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                    <!-- Title -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Target institution</mat-label>
                                        <mat-select [formControlName]="'targetInstitutionId'">
                                            <mat-option *ngFor="let institution of institutions" value="{{institution._id}}">{{institution.name}}</mat-option>
                                            <mat-option value="Nothing">Nothing</mat-option>
                                        </mat-select>

                                    </mat-form-field>
<!--
                                    &lt;!&ndash; Status &ndash;&gt;
                                    <mat-form-field class="w-full">
                                        <mat-label>Status</mat-label>
                                        <mat-select [formControlName]="'archived'" placeholder="{{program.status}}">
                                            <mat-option value="{{true}}" (selectionChange)="updateStatus(true)">
                                                Archived
                                            </mat-option>
                                            <mat-option value="{{false}}" (selectionChange)="updateStatus(false)">
                                                Not archived
                                            </mat-option>

                                        </mat-select>
                                    </mat-form-field>-->
                                </div>
                            </div>

                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="archivedSelectedProgram()">
                                    Archived
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Program updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-flat-button
                                        type="submit"
                                        [color]="'primary'"
                                        (click)="updateSelectedProgram()">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noPrograms>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'heroicons_outline:academic-cap'"></mat-icon>
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No program found!</div>
                </div>
            </ng-template>

        </div>
    </div>
</div>

